/* BRAND */
.color-burgundy {color:#aa1552;}

.color-magenta{color: #e40d7e;}
.color-magenta-darker{color: #b60a65;}

.color-blue{color: #51bfd3;}
.color-blue-darker{color: #4199a9;}

.color-purple{color: #342c61;}
.color-purple-darker{color: #2a224d;}

.color-green{color: #128e44;}



/* GRAYS */
.color-white{color: #ffffff;}
.color-gray-200{color: #fbfafb;}
.color-gray-300{color: #ececf1;}
.color-gray-400{color: #dadae4;}
.color-gray-600{color: #9496b0;}
.color-black{color: #000000;}